html{
	font-size: 20px;
	font-family: 'Montserrat', serif;
}
body{
	margin: 0px 0px 0px 0px;
	overflow-x: hidden;
}
p{
	text-align: justify;
	font-family: 'Montserrat', serif;
	font-size: 20px;
}


#title{
	position: relative;
	width: 100vw;
	height: 100vh;
}

#title figure{
	position: absolute;
	padding: 0;
	margin: 0;
}

#garden {
	max-width: 100%;
	display: contain;
	width: 100vw;
	height: 100vh;
	padding-bottom: 0px;
}

#title h1{
	position: absolute;
	bottom: 50%;
	width: 100%;
	font-size-adjust: 40px;
	text-align: center;
	color: white;
}
#title h2{
	position: absolute;
	bottom: 60%;
	width: 100%;
	margin: 0px;
	text-align: center;
	margin-bottom: 3vh;
	font-size-adjust: 20px;
	color: white;
}

#topbar{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	width: 100%;
	background-color: white;
	opacity: 0.8;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
}
@media only screen and (min-width: 481px){
	.myName{
		color: #2a2c5a;
		font-weight: bold;
		width: 25vw;
		align-self: center;
		margin-left: 2vw;
	}
	#topbar ul{
		display: flex;
		flex-direction: row;
		justify-content:flex-end;
		align-self: center;
		list-style-type: none;
		width: 100%;
	}
	#topbar ul li{
		margin-right: 4vw;
	}
	#topbar ul li a{
		text-decoration: none;
		color: #2a2c5a;
		font-weight: bold;
	}
}
@media only screen and (max-width: 800px) {
	.myName{
		display: none;
		background-color: red;
	}
}
/*
@media screen and (max-width: 1000px){
	#topbar{
		background-color: green;
	}
}*/
.aboutSection{
	position: relative;
	margin-top: 7vh;
	width: 100%;
	background-color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.aboutSection figure{
	top: 100%;
	width: 20vw;
	float:left;
	margin-left: 10vw;
	margin-top: 15vh;
}
#photoOfMe{
	max-width: 100%;
	border: solid;
	border-color: white;
	border-radius: 20px;
}
.aboutSection div{
	width: 50vw;
	right: 5%;
	margin-right: 5vw;
	margin-left: 10vw;
	float: left;
}
.aboutSection h2{
	font-family: Alegreya, serif;
}
.aboutSection button{
	box-shadow: none;
	border: solid;
	margin-top: 2vh;
	width: 11vw;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	font-weight: 500;
}
#downloadCV{
	height: 4.5vw;
	margin-left: 25%;
	margin-right: 4%;
	color: white;
	background-color: #22959b;
	border: solid white;
	border-radius: 10px;
}
#contactButton{
	height: 4.25vw;
	color: black;
	background-color: white;
	border: solid #22959b;
	border-radius: 10px;
}
.myWorkSection{
	position: relative;
	height: 600px;
	float: right;
	width: 100%;
	background-color: rgb(240,240,240);
	margin-top: 7vh;
}
.myWorkSection h2{
	text-align: center;
}
.myWorkSection h4{
	font-style: italic;
	font-size: 15px;
	text-align: center;
}
.myWorkSection #leftQuote{
	 color:  #EC4758;
	 margin-right: 1vw;
}
.myWorkSection #rightQuote{
	 color:  #EC4758;
	 margin-left: 1vw;
}
#Jean{
	margin-top: 10px;
}
.myWorkSection ul{
	position: relative;
	float: left;
f}
#listProjects1{
	display: table;
	position: relative;
	float: left;
	background-color: red;
	/*margin: 2vh 10vw 10vh 15vw;*/
	width: 75%;
	margin: 0 auto;
}
#listProjects2{
	position: relative;
	float: left;
	background-color: blue;
}
.myWorkSection li{
	display: inline;
	text-decoration: none;
	background-color: white;
	margin: 2vw 5vw 10vw 5vw;
}
